.ButtonCheck{ 
    width: auto;
    height: 2rem;
    border-radius: 0.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #af09097d;
    border: 1px solid #800000; 
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

